.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.flex-card {
  display: flex;
  justify-content: center;
  color: var(--color-card-sobre);
}

.card-content {
  margin-bottom: 3rem;
  border-radius: 5px;
  padding: 15px;
}

@media (max-width: 775px) {
  .flex-card {
    display: block;
    text-align: center;
    justify-content: center;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
  }
}
