header {
  padding: 20px;
  border-top: 3.5px solid #dbc2a5;
  border-bottom: 1px solid #e4dad1;
}

.header {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
}

.norte-nav-link {
  color: #88a261;
}

.nordeste-nav-link {
  color: #ef8a01;
}

header ul li a {
  padding: 25px;
}

.logo {
  font-size: 2rem;
  color: #972138;
}

a {
  text-decoration: none;
  color: #fff;
}

.activeLink {
  border-top: 4px solid #ce132c;
}
