footer {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--bg-color-card-sobre);
  color: var(--color-card-sobre);
  align-items: center;
  width: 100%;
  height: 120px;
}

.content-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-logo {
  margin-left: 4rem;
  width: 300px;
}

.social-media {
  text-align: right;
  margin-right: 4rem;
  list-style: none;
}

@media (max-width: 530px) {
  footer {
    justify-content: center;
  }

  .content-flex {
    flex-direction: column;
  }

  .social-media {
    display: flex;
    text-align: center;
    margin: 0;
    justify-content: center;
  }
  .social-media li {
    margin-left: 10px;
    margin-top: 10px;
  }

  .img-logo {
    width: 50%;
    margin: 0;
  }
}
