.sobre {
  display: grid;
  border-radius: 5px;
  margin: 3rem auto;
  grid-template-columns: 1fr;
  background-color: var(--bg-color-card-sobre);
  color: var(--color-card-sobre);
  padding: 43px;
  text-align: center;
}
